{% extends "_layouts/elementindex" %}
{% set title = 'Awaiting activation'|t('concierge') %}
{% set elementType = 'craft\\elements\\User' %}
{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}
{% set showStatusMenu = false %}
{% set sources = craft.app.elementIndexes.getSources(elementType, 'index') %}

{% block actionButton %}
    <a class="btn icon settings" href="{{ url('settings/plugins/concierge') }}">{{ "Concierge Settings"|t('concierge') }}</a>
{% endblock %}
